<script>
    import Footer from "./Footer.svelte";
    import Header from "./Header.svelte";
</script>

<Header />
<slot />
<Footer />

<style>
    :global(*) {
        box-sizing: border-box;
    }

    :global(body) {
        font-family: sans-serif;
        text-align: center;
    }
</style>
