<script>
    import { goto } from "$app/navigation";
    import {
        contacts,
        formVisible,
        contactToEdit,
        contactToDelete,
        deleteContact,
        updateContact,
    } from "$lib/contacts.svelte";
    import ReallyDelete from "./ReallyDelete.svelte";

    // Show id or not
    const DEBUG = false;

    let name = $state("");
    let phone = $state("");

    // Window "Kontakte"
    const buttonEditClick = (contact) => {
        // copy data to contactToEdit
        contactToEdit.id = contact.id;

        name = contact.name;
        phone = contact.phone;

        // show form edit
        formVisible.state = "edit";
    };

    const buttonCancelClick = () => {
        // back to table
        formVisible.state = "main";
    };

    const buttonDeleteClick = (contact) => {
        // remeber, which contact wass clicked
        contactToDelete.id = contact.id;
        contactToDelete.name = contact.name;

        // show other window
        formVisible.state = "delete";
    };

    const buttonNewClick = () => {
        goto("/t3a-kontakte/new/");
    };

    const buttonSaveClick = () => {
        // edited contact
        const editedContact = {
            id: contactToEdit.id,
            name: name,
            phone: phone,
        };

        // update contact in list
        updateContact(editedContact);

        // Back to start
        formVisible.state = "main";
    };
</script>

<svelte:head>
    <title>t3a-kontakte</title>
    <meta name="description" content="Beispiel für CRUD-App mit Svelte 5" />
</svelte:head>

{#if formVisible.state === "main"}
    <div class="box">
        <h2>Kontakte</h2>

        <table>
            <thead>
                <tr>
                    {#if DEBUG}
                        <th>id</th>
                    {/if}
                    <th>Name</th>
                    <th>Telefon</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                {#each contacts as contact}
                    <tr>
                        {#if DEBUG}
                            <td>{contact.id}</td>
                        {/if}
                        <td>{contact.name}</td>
                        <td
                            ><a href="tel:{contact.phone}">{contact.phone}</a
                            ></td
                        >
                        <td>
                            <button
                                onclick={() => {
                                    buttonEditClick(contact);
                                }}>Edit</button
                            >
                            <button
                                onclick={() => {
                                    buttonDeleteClick(contact);
                                }}>-</button
                            >
                        </td>
                    </tr>
                {/each}
            </tbody>
        </table>

        <div class="buttonBox">
            <button onclick={buttonNewClick}>Neuen Kontakt erstellen</button>
        </div>
    </div>
{:else if formVisible.state === "delete"}
    <ReallyDelete />
{:else}
    <div class="box">
        <h2>Kontakt bearbeiten</h2>
        <div class="input">
            <label for="inputName">Name</label>
            <input bind:value={name} id="inputName" type="text" />
        </div>

        <div class="input">
            <label for="inputPhone">Telefon</label>
            <input bind:value={phone} id="inputPhone" type="tel" />
        </div>

        <div class="buttonBox">
            <button onclick={buttonCancelClick}>Abbrechen</button>
            <button onclick={buttonSaveClick}>Speichern</button>
        </div>
    </div>
{/if}

<style>
    .box {
        box-shadow: 0.1em 0.1em 0.2em black;
    }

    h2 {
        padding: 0.5em;
        margin: 0;
    }

    .input {
        padding: 0.5em;
    }

    .input label {
        display: block;
        text-align: left;
        padding: 0.5em;
    }

    .input input {
        display: block;
        width: 100%;
    }

    table {
        width: 100%;
        font-family: sans-serif;
        border-collapse: collapse;
        text-align: left;
    }

    tr {
        border-bottom: 1px solid black;
    }

    th {
        padding: 0.5em;
    }

    td {
        padding: 0.5em;
    }

    .buttonBox {
        display: flex;
        gap: 0.5em;
        width: 100%;
        padding: 0.5em;
    }

    button {
        width: 100%;
        padding: 0.5em;
    }
</style>
