<footer>Franz Kohnle 2025</footer>

<style>
    footer {
        padding: 0.5em;
        background-color: darkseagreen;
        color: white;
        text-shadow: 0.1em 0.1em 0.1em black;
        box-shadow: 0.1em 0.1em 0.2em black;
    }
</style>
