<script>
    import { goto } from "$app/navigation";
    import { createContact } from "$lib/contacts.svelte";

    let name = $state("");
    let phone = $state("+49 ");

    const buttonCancelClick = () => {
        goto("/t3a-kontakte/");
    };

    const buttonSaveClick = () => {
        // Create new contact
        const newContactWithoutID = {
            name: name,
            phone: phone,
        };

        // Save new Contact
        createContact(newContactWithoutID);

        // Back to start
        goto("/t3a-kontakte/");
    };
</script>

<svelte:head>
    <title>t3a-kontakte | Neu</title>
    <meta name="description" content="Beispiel für CRUD-App mit Svelte 5" />
</svelte:head>

<div class="box">
    <h2>Neuen Kontakt erstellen</h2>
    <div class="input">
        <label for="inputName">Name</label>
        <input bind:value={name} id="inputName" type="text" />
    </div>

    <div class="input">
        <label for="inputPhone">Telefon</label>
        <input bind:value={phone} id="inputPhone" type="tel" />
    </div>

    <div class="buttonBox">
        <button onclick={buttonCancelClick}>Abbrechen</button>
        <button onclick={buttonSaveClick}>Speichern</button>
    </div>
</div>

<style>
    .box {
        box-shadow: 0.1em 0.1em 0.2em black;
    }

    h2 {
        padding: 0.5em;
        margin: 0;
    }

    .input {
        padding: 0.5em;
    }

    .input label {
        display: block;
        text-align: left;
        padding: 0.5em;
    }

    .input input {
        display: block;
        width: 100%;
    }

    .buttonBox {
        display: flex;
        gap: 0.5em;
        width: 100%;
        padding: 0.5em;
    }

    button {
        padding: 0.5em;
        width: 50%;
    }
</style>
